.main-details {
  padding: 36px;
  .all-info {
    width: 60%;
  }
  .detail-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .written-info {
    width: 80%;
  }
}
