.todolist {
  .mb-3 {
    width: 50vh;
    margin-top: 30px;
  }
  #header {
    margin-top: 100px;
  }
  .mainChunk {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .button {
      height: fit-content;
    }
  }

  .checkbox-container {
    .form-check {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}
