.line-x {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}
.final-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  margin: 7px;
}
